extends layout

block content
  .container-fluid
    for item in items
      .col-xs-4
        -shortTitle = item.title.slice(0,12).concat('...')
        a(href=`/details/${item.id}`)
          h4= shortTitle
          img.listing-img(src=`${item.image_url}`)
